
<!-- Outer Row -->
<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                  <div class=""><%= image_tag 'user_devise.svg', size: "400x500" %></div>
                  <div class="col-lg-6">
                      <div class="p-5">
                          <div class="text-center">
                              <h1 class="h2 text-gray-900 mb-4">Painel do Usuário</h1>
                          </div>
                          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="form-group">
                              <%= f.label :email %><br />
                              <%= f.email_field :email, autofocus: true, autocomplete: "email",
                                  class:"form-control form-control-user", id:"exampleInputEmail" %>
                            </div>
                            <div class="form-group">
                              <%= f.label :password %><br />
                              <%= f.password_field :password, autocomplete: "current-password", 
                              class:"form-control form-control-user", placeholder:"Password",
                              id:"exampleInputPassword" %>
                            </div>
                            <% flash.each do |key, value| %>
                              <div class="flash <%= key %>" style="color: red;"><%= value%></div>
                            <% end %>
                              <% if devise_mapping.rememberable? %>
                                <div class="form-group">
                                  <div class="custom-control custom-checkbox small">
                                    <%= f.check_box :remember_me,  id:"customCheck", class:"custom-control-input" %>
                                    <%= f.label "Lembre-se de min", class:"custom-control-label",for:"customCheck" %>
                                  </div>
                                </div>
                              <% end %>
                                <div class="actions">
                                  <%= f.submit "Login", class:"btn btn-primary btn-user btn-block" %>
                                </div>
                              <hr>
                          <% end %>
                          <div class="text-center">
                              <%= render "admins/shared/links", class: "small" %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


