

<div class="container">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"><%= "#{action_message} Assunto" %></h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
    </div>
    <!-- Contact Section Form-->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <%= form_with(model: [:admins_backoffice, @subject], local: true) do |form| %>
                <% if @subject.errors.any? %>
                    <ul>
                        <% @subject.errors.full_messages.each do |message|%>
                        <li style="color: red;"><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>
                <!-- Subject address input-->
                <div class="form-floating mb-3">
                    <%= form.label :description %>
                    <%= form.text_field :description, class:"form-control", placeholder:"Assunto..." %>
                </div>
                <!-- has successfully submitted-->
                <button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Enviar</button>
            <% end %>
        </div>
    </div>
</div>