

<div class="container">
    <!-- Contact Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0"><%= "#{action_message}" %></h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
    </div>
    <!-- Contact Section Form-->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <%= form_with(model: [:admins_backoffice, @question], local: true) do |form| %>
                <% if @question.errors.any? %>
                    <ul>
                        <% @question.errors.full_messages.each do |message|%>
                        <li style="color: red;"><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>
                <!-- Subject address input-->
                <div class="form-floating mb-3">
                    <%= form.label :description %>
                    <%= form.text_area :description, class:"form-control", placeholder:"Assunto...", rows: 5 %>
                </div>
                <div class="form-floating mb-3">
                    <%= form.label :subject %>
                    <%= form.collection_select(:subject_id, @subjects, :id,:description, {}, {class:"form-control"}) %>
                </div>
                <div id="answers">
                    <%= form.fields_for :answers do |answer| %>
                        <%= render partial: "answer_fields", locals: {f: answer} %>
                    <% end %>  
                    <br><%= link_to_add_association 'Adicionar Resposta', form, :answers, class:"btn btn-primary btn-xl", id:"submitButton" %>
                </div>
                <!-- has successfully submitted-->
                <br>
                <button class="btn btn-primary btn-xl" id="submitButton" type="submit"><%= t('messages.submit') %></button>
            <% end %>
        </div>
    </div>
</div>