<div class="card shadow mb-4">
<div class="card-header py-3">
    <div style="float: right;">
        <%= link_to admins_backoffice_path(room_id: @room.id), class: "btn btn-success btn-circle" do %>
            <i class="fa fa-plus"></i>
        <% end %>
    </div>
</div>
<div class="card-body">
<div class="table-responsive">
    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="dataTables_length" id="dataTable_length"></div></div>
    <table class="table table-bordered dataTable" id="dataTable" width="50%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
            <tbody>
                <% @activities.each do |activity| %> 
                 <% if activity.room_id == @room.id %>   
                    <div class="card">
                        <div class="card-header">
                            <div style="float: right;">
                            <%= link_to edit_admins_backoffice_activity_path(activity), class: "btn btn-primary" do %>
                                <i class="fa fa-edit"></i> Editar
                            <% end %>
                            <%= link_to admins_backoffice_activity_path(activity), method: :delete, class: "btn btn-danger", data: { confirm: ' Tem certeza? '} do %>
                                <i class="fas fa-trash"></i> Deletar
                            <% end %>
                            </div>  
                            <%= activity.activity_name %>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><%= activity.description %></h5>
                            <% activity.archives.each do |archive| %>   
                                <%= link_to "#{archive.description}", archive.attachment_url %><br>
                            <% end %>
                        </div>
                    </div>
                 <% end %>
                <% end %>
            </tbody>
        </table>
        <div class="text-center">
            <%= paginate @activities %>
        </div>
    </div>
</div>
</div>
