<h1 class="text-center">Criar Atividade</h1>
<div class="container">
    <!-- Contact Section Heading-->
    <!-- Icon Divider-->
    <div class="divider-custom">
    </div>
    <!-- Contact Section Form-->
    <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-7">
            <%= form_with(model: @activity, url: admins_backoffice_activity_path, method: :patch, local: true) do |form| %>
                <% if @activity.errors.any? %>
                    <ul>
                        <% @activity.errors.full_messages.each do |message|%>
                        <li style="color: red;"><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>
                <div class="form-floating mb-3">
                </div>
                <div class="form-floating mb-3">
                    <%= form.label :activity_name, 'Nome da atividade' %>
                    <%= form.text_field :activity_name, class:"form-control" %>
                </div>
                <div class="form-floating mb-3">
                    <%= form.label :description, 'Descrição da atividade' %>
                    <%= form.text_area :description, class:"form-control" %>
                </div>
                 <div id="archives">
                    <%= form.fields_for :archives do |archive| %>
                        <%= render partial: "archive_fields", locals: {f: archive} %>
                    <% end %>  
                    <br><%= link_to_add_association 'Adicionar Arquivo', form, :archives, class:"btn btn-primary btn-xl", id:"submitButton" %>
                </div>
                <br>
                <button class="btn btn-primary btn-xl" style="float: left;" id="submitButton" type="submit"><%= t('messages.submit') %></button>
            <% end %>
        </div>
    </div>
</div>