<h1><%= t('messages.listing', model: @admins.model_name.human(count: 2)) %></h1>

<div class="card shadow mb-4">
<div class="card-header py-3">
</div>
<div class="card-body">
<div class="table-responsive">
    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Mostrar<select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select></label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Procurar:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row"><div class="col-sm-12">
    <table class="table table-bordered dataTable" id="dataTable" width="50%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
        <thead>
            <tr role="row">
            <th>ID</th>
            <th><%= translate_attribute(@admins, :email) %></th>
            <th>
                <%= link_to new_admins_backoffice_admin_path, class: "btn btn-success btn-circle" do %>
                    <i class="fa fa-plus"></i>
                <% end %>
            </th>
            </tr>
        </thead>
        <tbody>
            <% @admins.each do |admin| %>    
            <tr>
                <th><%= admin.id %></th>
                <th><%= admin.email %></th>
                <th style="width: 110px;">
                    <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-primary btn-circle" do %>
                        <i class="fa fa-edit"></i>
                    <% end %>
                    <%= link_to admins_backoffice_admin_path(admin), method: :delete, class: "btn btn-danger btn-circle", data: { confirm: "Você deseja excluir o administrador #{admin.email}?" } do %>
                        <i class="fas fa-trash"></i>
                    <% end %>
                </th>
            </tr> 
            <% end %>
        </tbody>
        </table>
        <div class="text-center">
            <%= paginate @admins %>
        </div>
    </div>
</div>
</div>